
<app-header></app-header>

<section class="bg-gradient-to-bl from-blue-900 to-transparent to-40%">
	<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 z-10 min-h-screen">
	<router-outlet></router-outlet>
	</div>
	<!-- <div class="bg-gradient-to-b from-blue-50 to-transparent dark:from-blue-900 w-full h-full absolute top-0 left-0 z-0"></div> -->
</section>

<aside class="fixed z-50 flex p-4 transition-opacity bg-gray-100 border border-gray-200 rounded-lg bottom-5 left-5 dark:border-gray-700 dshadow-sm dark:bg-gray-800 opacity-0"></aside>

<footer class="py-12 xl:pt-24 bg-slate-800"></footer>
