
<div class="p-5">
	<h1 class="text-4xl font-bold text-gray-900 dark:text-white">Custormers</h1>
	<p class="tracking-normal text-gray-500 md:text-lg dark:text-gray-400">List of customers</p>
</div>
<a href="#" class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-blue-700 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300 hover:bg-blue-200 dark:hover:bg-blue-800">
	<span class="text-xs bg-blue-600 rounded-full text-white px-4 py-1.5 mr-3">New</span> <span class="text-sm font-medium">Add new customer</span> 
	<svg aria-hidden="true" class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
</a>

<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
	<div *ngFor="let c of customers" class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
		<div class="flex justify-end px-4 pt-4">
			<button id="dropdownButton" data-dropdown-toggle="dropdown" class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5" type="button">
				<span class="sr-only">Open dropdown</span>
				<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"></path></svg>
			</button>
			<!-- Dropdown menu -->
			<div id="dropdown" class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
				<ul class="py-2" aria-labelledby="dropdownButton">
				<li>
					<a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
				</li>
				<li>
					<a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a>
				</li>
				<li>
					<a href="#" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
				</li>
				</ul>
			</div>
		</div>
		<div class="flex flex-col items-center pb-10">
			<!-- <img class="object-cover w-24 h-24 rounded-full shadow-lg" src="/assets/images/profiles/profile-picture-3.png" alt="Bonnie image"/> -->
			<div class="relative inline-flex items-center justify-center w-24 h-24 mb-3 overflow-hidden rounded-full bg-gray-600">
				<span class="font-medium text-3xl text-gray-300">JL</span>
			</div>
			<h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">{{c.name}}</h5>
			<span class="text-sm text-gray-500 dark:text-gray-400">{{c.email}}</span>
			<div class="flex mt-4 space-x-3 md:mt-6">
				<a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add friend</a>
				<a href="#" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Message</a>
			</div>
		</div>
	</div>
</div>
